footer {
  justify-content: center;
  align-items: center;
  display: flex;
  position: sticky;
  bottom: 0;
  right: 0;
  background-color: #f2fcff;
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 999;
  min-height: 74px;
}

.white_bg_footer footer {
  background-color: #fff;
}
.footer_wraper {
}
