footer {
    width: calc(100% - 40px);
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #F2FCFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 999;
    min-height: 74px;
  }

  .footer_wraper{
    margin-bottom: 90px;
  }
