.form-select,
.form-control {
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--Stroke, #e7e7e7);
}
textarea.form-control {
  height: auto;
}
.date_picker_icon {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 9px;
  right: 5px;
  z-index: 2;
}

.form_unit_text {
  color: var(--Grey, #757575);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  position: absolute;
  bottom: 12px;
  right: 10px;
  z-index: 2;
}

.customer_site_btn {
  width: 210px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
}

.text_area_custom_margin {
  margin-top: -6px;
}

.search_002 {
  width: 15px;
}

.upload_field {
  padding-right: 95px;
}

/*  */
.margin_box {
  justify-content: center;
  width: 310px;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  display: flex;
  min-height: 24px;
  padding: 13px 0px;
  align-self: stretch;
}

.margin_price_text {
  padding: 0px 10px;
  color: var(--Primary, #131313);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
}

.modal_width_height {
  width: 934px !important;
  max-width: 90% !important;
  /* min-height: 500px !important;     */
  /* overflow-x: auto; */
}
.modal_center_align {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.custom__quote__modal_width {
  width: 634px;
  max-width: 90%;
}

.modal_width_height .modal-body {
  max-height: 450px; /* Limit the modal body's height */
  overflow-y: auto !important; /* Enable scrolling */
}

/* Custom scrollbar styling */
.modal_width_height .modal-body::-webkit-scrollbar {
  width: 6px;
  flex-shrink: 0;
}

.modal_width_height .modal-body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Optional track color */
}

.modal_width_height .modal-body::-webkit-scrollbar-thumb {
  background: var(--Theme, #007cba); /* Scrollbar color */
  border-radius: 30px; /* Rounded corners */
}

.modal_width_height .modal-body::-webkit-scrollbar-thumb:hover {
  background: darken(var(--Theme, #007cba), 10%); /* Darker color on hover */
}

/*  */

.message_body::-webkit-scrollbar {
  width: 6px;
  flex-shrink: 0;
}

.message_body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Optional track color */
}

.message_body::-webkit-scrollbar-thumb {
  background: var(--Theme, #007cba); /* Scrollbar color */
  border-radius: 30px; /* Rounded corners */
}

.message_body::-webkit-scrollbar-thumb:hover {
  background: darken(var(--Theme, #007cba), 10%); /* Darker color on hover */
}

.modal-footer {
  border-top: none;
}

.modal-body {
  max-height: 70vh; /* Adjust based on your content and screen size */
  overflow-y: auto;
  overflow-x: hidden;
}

/* Custom scrollbar styling */
.modal-body::-webkit-scrollbar {
  width: 6px;
  flex-shrink: 0;
}

.modal-body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Optional track color */
}

.modal-body::-webkit-scrollbar-thumb {
  background: var(--Theme, #007cba); /* Scrollbar color */
  border-radius: 30px; /* Rounded corners */
}

.modal-body::-webkit-scrollbar-thumb:hover {
  background: darken(var(--Theme, #007cba), 10%); /* Darker color on hover */
}

.message_body {
  padding: 10px 20px;
  max-height: 280px;
  overflow-y: auto;
}

/* Fix the footer at the bottom */
.modal-footer {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
  padding: 0px 15px; /* Add padding for a cleaner look */
  /* box-shadow: 0 -2px -1px rgba(0, 0, 0, 0.1);*/
}

/* Button container for gap and styling */
.modal_fix_footer {
  padding: 10px;
}

.files__list {
  width: 100%;
  min-height: 40px;
  background-color: var(--white_bg_color);
}
.upload_form_btn {
  width: 100%;
  background-color: var(--gray_bg_color);
  border-radius: 2px;
  padding: 12px;
}

.download_doc_pearent {
  border-radius: 2px;
  border: 0.5px solid #afafaf;
  opacity: 0.9;
  background: #fff;
}
.file_download_container {
  border-radius: 2px;
  background: #f2fcff;
  padding: 5px 10px;
  margin-bottom: 2px;
}

.w_16_h_16 {
  width: 16px;
  height: 16px;
  margin: 0px;
  padding: 0px;
}

.pdf_proposal_input {
  width: 125px;
  height: 30px;
}

.form_star_color {
  color: var(--secondary_bg_color);
}

.time__div {
  margin: 15px 0px;
  background-color: #fff5f5;
  padding: 15px 15px;
  border-left: 7px solid #ff0000;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ff0000;
}

.dropdown_menu {
  position: absolute;
  right: 0px;
  left: auto;
  transform: translate(0px) !important;
  padding: 5px 0px !important;
  border-color: #ddd !important;
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--Theme);
  border-radius: 30px;
  color: #007cba;
  background-color: #f3f5ff;
  line-height: 16px;
  font-size: 16px;
  gap: 10px;
}
.tag-close {
  margin-left: 0.5rem;
  color: #dc3545;
  cursor: pointer;
}
.tag-container {
  display: flex;
  flex-wrap: wrap;
}

.circle {
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.border_right {
  border-right: 1px dashed #ddd;
}

.check__icon {
  color: var(--Theme);
  font-size: 26px;
  position: absolute;
  line-height: 0px;
  top: 6px;
  right: 5px;
  z-index: 2;
}

.check__icon2 {
  color: var(--Theme);
  font-size: 26px;
  position: absolute;
  line-height: 0px;
  top: 14px;
  right: 10px;
  z-index: 2;
}

.input_sufix {
  position: absolute;
  bottom: 11px;
  font-size: 12px;
  left: 5px;
  z-index: 1;
}

.manag__img {
  width: 200px;
  height: 30px;
}

/* Style the select container */
.custom-select-container {
  min-width: 200px;
  position: relative;
  display: inline-block;
}

.custom-select-container_165 {
  min-width: 165px !important;
  position: relative;
  display: inline-block;
}

/* Style the select */
.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  padding: 8px 38px 8px 12px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  max-width: 400px;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins;
}

.custom-select option {
  width: 100%;
  max-width: 400px;
}

/* Arrow styling */
/* .custom-select-container::after {
      content: "⯆"; 
      font-size: 14px;
      color: #fff;
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      pointer-events: none;
      background-color: var(--primary_bg_color);
      border-radius: 4px;
      padding: 2px 6px;
    } */
.Follow_Ups.custom-select-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  background-color: #fff !important; /* Arrow background color */
  border-radius: 4px;
  padding: 10px;
  background-image: url("../icons/Sorting_down.png");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
}

.custom-select-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  background-color: #007cba !important; /* Arrow background color */
  border-radius: 4px;
  padding: 13px;
  background-image: url("../icons/caret-down-fill.svg");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
}

/* Hover and Focus styles */
.custom-select:hover,
.custom-select:focus {
  border-color: var(--primary_bg_color);
  outline: none;
}

input::placeholder {
  color: #232222;
}
.form-check-input.filter_radio:checked[type="radio"] {
  background-image: url("../icons/Check.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.filter_radio:checked {
  background-color: #fff;
  border-color: #fff;
}

/* 6dec style */
.right_gray_border {
  border-right: 1px solid #e7e7e7;
}

.email_border_cross_icon {
  border: 1px solid var(--Theme);
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #f3f5ff;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--Theme);
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}

.form-select.is-invalid:not([multiple]):not([size]),
.form-select.is-invalid:not([multiple])[size="1"],
.was-validated .form-select:invalid:not([multiple]):not([size]),
.was-validated .form-select:invalid:not([multiple])[size="1"] {
  padding-right: 4.125rem; /* Adjust padding for the dropdown indicator */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dc3545' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 4l7 7 7-7'/%3e%3c/svg%3e");
  background-position: right 0.75rem center, right 2.5rem center;
  background-size: 16px 12px, 1rem 1rem;
  background-repeat: no-repeat;
  border-color: #dc3545; /* Bootstrap's red color for invalid state */
}

.form_validation_msg {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ff0000 !important;
}

.document_list {
  width: 100%;
  background-color: #e9f8ff;
  /* max-width: 500px; */
  padding: 5px 0; /* Top and bottom spacing inside scroll area */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 5px;
  max-height: 60px;
  overflow-y: auto;
  box-sizing: border-box; /* Ensures padding is counted in height */
  scroll-padding: 5px 0; /* Extra hint for smooth scroll snapping */
}

.document_list_inner {
  padding: 10px 0; /* Top and bottom spacing for scrollable content */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.doc-label {
  color: #007bba; /* Blue text */
  font-weight: 500;
  font-size: 12px;
}

.check-icon {
  color: green;
  font-size: 7px;
}

.broker_commission {
  display: flex;
  gap: 20px;
}

/* Select Dropdown */
.select2-selection.custom-focus {
  border-color: #86b7fe !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
}

.select2-search--dropdown {
  display: none;
}

.select2-container--open .select2-dropdown {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15) !important; /* Only bottom shadow */
  border: 1px solid #404040 !important;
}

.select2-results {
  display: block;
}

.select2-search__field {
  display: none;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
}

.select2-container .select2-selection--single {
  height: auto !important;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 180px !important;
  overflow-y: auto;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 5px 10px !important;
}

.select2-results__option--selected {
  background: var(--primary_bg_color) !important;
  color: #fff;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  height: 50px;
  display: flex;
  align-items: center;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 50px;
}

.select2-search__field {
  /* display: none; */
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 100% !important;
}

.select2-selection__rendered {
  color: var(--Primary, #131313);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

/* select 2 end */

@media (max-width: 992px) {
  .customer_site_btn {
    position: relative; /* or any other preferred mobile positioning */
  }
}

/* For screens larger than 992px (lg and above) */
@media (min-width: 992px) {
  .customer_site_btn {
    position: absolute; /* Change position for larger screens */
  }
}

/* vertical Ui start */

/* Base: XXL (≥1400px) */

.vertical_ui .table_check {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--Primary, #131313);
  /* background: var(--white, #FFF); */
}

.vertical_ui .table_check:checked {
  border-color: #0d6efd;
}

.hori_e_label {
  display: block;
}

.vertical_ui_design .hori_e_label {
  display: none;
}

.verti_e_label {
  display: none;
}

.vertical_ui_design .verti_e_label {
  display: block;
}

.vertical_ui_design {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.vertical_ui_design label {
  margin-bottom: 0px;
}

.vertical_ui_design .span_text {
  margin-bottom: 0px;
}

/* .vertical_ui_design .field_50 input,
.vertical_ui_design .field_50 select,
.vertical_ui_design .field_50 .select2-container {
  width: 49% !important;
} */

.vertical_ui_design > label,
.vertical_ui_design > .vertical_label,
.vertical_ui_design .verti_row {
  width: 20%;
}

.vertical_ui_design > input,
.vertical_ui_design > textarea,
.vertical_ui_design > select,
.vertical_ui_design > .select2-container,
.vertical_ui_design .verti_div {
  width: 500px !important;
}

/* XL (<1400px) */
@media (max-width: 1399.98px) {
  .vertical_ui_design > label,
  .vertical_ui_design > .vertical_label,
  .vertical_ui_design > .verti_row {
    width: 25%;
  }

  .vertical_ui_design > input,
  .vertical_ui_design > textarea,
  .vertical_ui_design > select,
  .vertical_ui_design > .select2-container,
  .vertical_ui_design > .verti_div {
    width: 35%;
  }
}

/* LG (<1200px) */
@media (max-width: 1199.98px) {
  .vertical_ui_design > label,
  .vertical_ui_design > .vertical_label,
  .vertical_ui_design > .verti_row {
    width: 30%;
  }

  .vertical_ui_design > input,
  .vertical_ui_design > textarea,
  .vertical_ui_design > select,
  .vertical_ui_design > .select2-container,
  .vertical_ui_design > .verti_div {
    width: 400px !important;
  }
}

/* MD (<992px) */
@media (max-width: 991.98px) {
  .vertical_ui_design > label,
  .vertical_ui_design > .vertical_label,
  .vertical_ui_design > .verti_row {
    width: 31%;
  }

  .vertical_ui_design > input,
  .vertical_ui_design > textarea,
  .vertical_ui_design > select,
  .vertical_ui_design > .select2-container,
  .vertical_ui_design > .verti_div {
    width: 330px !important;
  }
}

/* SM (<768px) */
@media (max-width: 767.98px) {
  .vertical_ui_design > .verti_row,
  .vertical_ui_design > label,
  .vertical_ui_design > .vertical_label {
    width: 30%;
  }
.vertical_ui_design{
  gap: 10px;
}
  .vertical_ui_design > input,
  .vertical_ui_design > textarea,
  .vertical_ui_design > select,
  .vertical_ui_design > .select2.select2-container,
  .vertical_ui_design > .verti_div {
    width: 265px !important;
  }
}

/* XS (Mobile: <576px) — Disable layout styling */
@media (max-width: 575.98px) {
  .vertical_ui_design {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .broker_commission {
    flex-direction: row;
    gap: 20px;
  }
  .vertical_ui_design label {
    margin-bottom: 5px;
  }
  .vertical_ui_design > label,
  .vertical_ui_design > .vertical_label,
  .vertical_ui_design > input,
  .vertical_ui_design > textarea,
  .vertical_ui_design > select,
  .vertical_ui_design > .select2-container,
  .vertical_ui_design > .verti_row,
  .vertical_ui_design > .verti_div {
    width: 100% !important;
  }

   .vertical_ui_design > .select2.select2-container {
    width: 100% !important;
  }
   .vertical_ui > .select2.select2-container {
    width: 100% !important;
  }
  .vertical_ui_design label{
    margin-bottom: 0.5rem;
  }

  .broker_commission .verti_row {
    min-width: 25%;
    max-width: 25%;
  }

  .vertical_ui_design .verti_e_label {
    display: none;
  }

  .vertical_ui_design .hori_e_label {
    display: block ;
  }
}

/*  */
